<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- To use Thymeleaf Properties  -->
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
	<link th:href="@{css/log.css}" rel="stylesheet" id="bootstrap-css">
</head>
<body>
	
	
<!------ Include the above in your HEAD tag ---------->

<div class="container h-80">
<div class="row align-items-center h-100">
    <div class="col-3 mx-auto">
        <div class="text-center">
            <img id="profile-img" class="rounded-circle profile-img-card" th:src="@{https://i.imgur.com/6b6psnA.png}" />
            <p id="profile-name" class="profile-name-card"></p>
            <form  class="form-signin">
                
            
                <input type="password" name="password" id="inputPassword" class="form-control form-group" placeholder="password" required autofocus>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">enter</button>
            </form><!-- /form -->
        </div>
    </div>
</div>
</div>
	
</body>
</html>

